<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" value="notranslate">
    <title>Codeless</title>
    <script src="{{ url_for('static', filename='js/blockly_ML.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blocks_ML.js') }}"></script>
    <script src="{{ url_for('static', filename='js/javascript_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='js/python_ML.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/msg/en.js') }}"></script>
    <script src="{{ url_for('static', filename='js/screenshot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blockly.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <script src="{{ url_for('static', filename='/js/msg/js/en.js')}}"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/Promise.min.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/FunctionPromise.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/pypyjs.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/github_white.png') }}">


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body onclick="CloseAllNav()" id="body">


        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            &nbsp;
            &nbsp;
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="visibility: hidden;">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" h data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" onclick="blockly.runJS();CloseAllNav();">
                        File
                    </a>
                    
                
                </li>
            </ul>

            <select id="languageMenu" style="visibility: hidden;"></select>
        </div>
    </nav>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
<div style="width: 100%; height: 1.5rem;"></div>
    <table width="100%" height="95%">
        <tr>
            <td colspan=2>
                <table width="100%">
                    <tr id="tabRow" height="1em">
                        <td id="tab_blocks" class="tabon">...</td>
                        <td class="tabmin tab_collapse">&nbsp;</td>

                        <td class="tabmin tab_collapse">&nbsp;</td>
                        <td id="tab_python" class="taboff tab_collapse">Python</td>

                        <td id="tab_code" class="taboff">
                            <select id="code_menu"></select>
                        </td>
                        <td class="tabmax">
                            <button id="downlaodButton" class="notext" title="download layout">
                                <img id ="downloadIcon" src='/static/media/download2.png' class="icon">
                            </button>

                            <div class="upload-btn-wrapper">
                                <button id="uplaodButton" onclick="blockly.UploadXml()" class="notext"
                                    title="upload saved layout">
                                    <img id="uploadIcon" src='/static/media/upload-2.png' class="icon">
                                </button>
                            </div>

                            <div class="form-popup" id="myForm">
                                <form class="form-container" name="urlForm">
                                    <h1>Upload</h1>

                                    <div class="drop-zone" id="">
                                        <span class="drop-zone__prompt">Drop file here or click to upload</span>
                                        <input type="file" name="myFile" class="drop-zone__input">
                                    </div>
                                    </br>
                                    <hr class="hr1">
                                    </br>
                                    <label for="url"><b>Enter Layout Url</b></label>
                                    <input type="text" placeholder="Enter Url" name="url" required
                                        value="https://raw.githubusercontent.com/chekoduadarsh/BlocklyML/main/sampleLayouts/machine%20learning/Pycaret/Pycaret_RF_IRIS.xml">


                                    <button type="button" onclick="blockly.UploadFromUrl()" class="btn">Upload</button>
                                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                </form>
                            </div>
                            <div class="download-code-popup" id="download-code-popup">
                                <a href="#" class="download-code-close" onclick=closeDownloadCode()></a>
                                <h2>Download Code 💾</h2>

                                </br>
                                </br>

                                <div class="download-code-form" id="download-code-form">

                                    <input type="text" id="download-code-fname" name="fname">
                                    <select id="download-code-extention" name="extention">
                                        <option value=".py">.py</option>
                                        <option value=".ipynb">.ipynb</option>
                                    </select>
                                    </br>
                                    </br>
                                    <div class="download-code-button" id="download-code-button">
                                        <button type="button" class="btn"
                                            onclick=downloadPyIpynbCode()>Download</button>
                                    </div>

                                </div>
                            </div>

                            <button id="copyButton" class="notext" title="copy python code">
                                <img id ="copyIcon"src='/static/media/copy-2.png' class="icon">
                            </button>

                            <button id="colabButton" class="notext" title="launch google colab" >
                                <img src='/static/media/colab_favicon.ico' class="icon">
                            </button>
                            
                            <button id="trashButton" class="notext" title="...">
                                <svg class="icon-trash" xmlns="http://www.w3.org/2000/svg" viewBox="10 10 20 40" width="20" height="200">
                                    <path class="trash-lid" fill-rule="evenodd" d="M6 15l4 0 0-3 8 0 0 3 4 0 0 2 -16 0zM12 14l4 0 0 1 -4 0z" />
                                    <path class="trash-can" d="M8 17h2v9h8v-9h2v9a2 2 0 0 1-2 2h-8a2 2 0 0 1-2-2z" />
                                  </svg>
                            </button>

                            <button id="linkButton" class="notext" title="...">
                                <img src='/static/media/1x1.gif' class="link icon21">
                            </button>
                            <button id="runButton" title="..." style="display: none;">
                                <img src='/static/media/play-icon.png'>
                            </button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="99%" colspan=2 id="content_area">
            </td>
        </tr>
    </table>


    <div id="content_blocks" class="content"></div>

    <pre><code id="content_python" class="language-python content prettyprint lang-py" ></code></pre>

    <xml id="toolbox" style="visibility: hidden;">
        <sep></sep>
        <category name="Classical Machine Learning"></category>
        <category name="Models" colour="#1FA6EF">
            <block type="classification_models">
                <field type="classification_models">Classification models </field>
            </block>

            <block type="regression_models">
                <field type="regression_models">Regression models</field>
            </block>
        </category>

        <category name="Train & Evaluation " colour="#1FA6EF">
            <block type="training">
                <field type="training"> Training</field>
            </block>
            <block type="evaluation">
                <field type="evaluation"> Evaluation</field>
            </block>
            <block type="prediction">
                <field type="prediction">Prediction</field>
            </block>
        </category>
        <category name="Classification Metrics " colour="#1FA6EF">

            <block type="accuracy">
                <field type="accuracy">Accuracy</field>
            </block>
            <block type="precision">
                <field type="precision">Precision</field>
            </block>
            <block type="recall">
                <field type="recall">Recall</field>
            </block>
            <block type="f1score">
                <field type="f1score">F1 score</field>
            </block>
        </category>

        <category name="Regression Metrics " colour="#1FA6EF">

            <block type="r_squared">
                <field type="r_squared">r_squared</field>
            </block>
            
            <block type="mse">
                <field type="mse">Mse</field>
            </block>
            
            <block type="mae">
                <field type="mae">Mae</field>
            </block>
        </category>
        <sep></sep>
        
        <category name="Unsupervised Machine Learning"></category>
        <category name="Models" colour="#1FA6EF">
            <block type="kmeans_clustering">
                <field type="kmeans_clustering">kmeans_clustering</field>
            </block>
            <block type="som">
                <field type="som">SOM Model</field>
            </block>

        </category>

        <category name="Train & Evaluation " colour="#1FA6EF">
            <block type="unsupervised_training">
                <field type="unsupervised_training">unsupervised_training</field>
            </block>
            <block type="evaluation">
                <field type="evaluation"> Evaluation</field>
            </block>
            <block type="prediction">
                <field type="prediction">Prediction</field>
            </block>
            <block type="som_evaluation">
                <field type="som_evaluation">SOM Evaluation</field>
            </block>
            <block type="som_init">
                <field type="som_init">SOM Initialization</field>
            </block>
            <block type="som_assign">
                <field type="som_assign">SOM Label Assignment</field>
            </block>
        </category>
        <category name="Metrics" colour="#1FA6EF">
            <block type="silhouette_score">
                <field type="silhouette_score">Silhouette score</field>
            </block>
            <block type="davies_bouldin_index">
                <field type="davies_bouldin_index">Davies_bouldin index</field>
            </block>
        </category>


        <sep></sep>
        <category name=" Deep Learning"></category>
        <category name="Models" colour="#1FA6EF">
         <block type="sequential">
             <field type="sequential">Sequential NN Model</field>
            </block>
            <block type="cnn_model">
                <field type="cnn_model">CNN Model</field>
            </block>
            <block type="rnn_model">
                <field type="rnn_model">RNN Model</field>
            </block>
            
        </category>
        <category name="Layers" colour="#1FA6EF">

            <block type="dense">
                <field type="dense">Dense</field>
            </block>
            <block type="averagepooling2d">
                <field name="averagepooling2d">Averagepooling2d</field>
            </block>
            <block type="maxpooling2d">
                <field name="maxpooling2d">Maxpooling2d</field>
            </block>
            <block type="Conv2D">
                <field name="Conv2D">Conv2D</field>
            </block>
            <block type="Conv2Dfirst">
                <field name="Conv2Dfirst">Conv input layer</field>
            </block>
            <block type="flatten">
                <field name="flatten">flatten</field>
            </block>
            <block type="dropout">
                <field type="dropout">Dropout</field>
            </block>

            <block type="embedding">
                <field type="embedding">embedding</field>
            </block>
            <block type="gru">
                <field type="gru">gru</field>
            </block>
            <block type="lstm">
                <field type="lstm">lstm</field>
            </block>
            <block type="simple_rnn">
                <field type="simple_rnn">simple_rnn</field>
            </block>


           </category>
           <category name="Model evaluation" colour="#1FA6EF">
            <block type="evaluate">
                <field type="evaluate">Model evaluate</field>
            </block>
            <block type="cnn_evaluation">
                <field type="evaluate">Cnn evaluate</field>
            </block>
            <block type="fit">
                <field type="fit">Model fit</field>
            </block>
            <block type="cnn_fit">
                <field type="cnn_fit">Cnn fit</field>
            </block>
                       
            <block type="compile">
                <field type="compile">Model compile</field>
            </block>

           </category>

           <category name="Augmentation" colour="#1FA6EF">
            <block type="rescale">
                <field name="rescale">1.0/255</field>
            </block>
            <block type="vertical_flip">
                <field name="vertical_flip"></field>
            </block>
            <block type="zoom_range">
                <field name="zoom_range">0.2</field>
            </block>
            <block type="shear_range">
                <field name="shear_range">0.2</field>
            </block>
            <block type="width_shift_range">
                <field name="width_shift_range">0.2</field>
            </block>
            <block type="rotation_range">
                <field name="rotation_range">40</field>
            </block>
            <block type="height_shift_range">
                <field name="height_shift_range">0.2</field>
            </block>
            <block type="channel_shift_range">
                <field name="channel_shift_range">0.2</field>
            </block>
            <block type="horizontal_flip">
                <field name="horizontal_flip"></field>
            </block>
            <block type="featurewise_center">
                <field name="featurewise_center"></field>
            </block>
            <block type="featurewise_std_normalization">
                <field name="featurewise_std_normalization"></field>
            </block>
            <block type="samplewise_std_normalization">
                <field name="samplewise_std_normalization"></field>
            </block>
            <block type="samplewise_center">
                <field name="samplewise_center"></field>
            </block>
            <block type="zca_whitening">
                <field name="zca_whitening"></field>
            </block>
            <block type="brightness_range">
                <field name="brightness_min">0.2</field>
                <field name="brightness_max">1.0</field>
            </block>
            <block type="fill_mode">
                <field name="fill_mode">constant</field>
            </block>
        </category>

        <category name="Generator" colour="#1FA6EF">
            <block type="color_mode">
                <field name="color_mode">rgb</field>
            </block>
            <block type="interpolation">
                <field name="interpolation">bilinear</field>
            </block>
            <block type="subset">
                <field name="subset">training</field>
            </block>
            <block type="shuffle">
            </block>
            <block type="augment">
            </block>
            <block type="save_format">
                <field name="save_format">png</field>
            </block>
            <block type="seed">
                <field name="seed">42</field>
            </block>
            <block type="save_to_dir">
                <field name="save_to_dir">/path/to/save/directories</field>
            </block>
            <block type="save_prefix">
                <field name="save_prefix">image</field>
            </block>
            <block type="class_mode">
                <field name="class_mode">Class mode</field>
            </block>
            <block type="target_size">
                <field name="target_size">Target size</field>
            </block>
            <block type="batch_size">
                <field name="batch_size">32</field>
            </block>
        </category>

           <sep></sep>
           <category name="preprocessing" colour="#1FA6EF">
            <block type="one_hot_encoding">
                <field type="one_hot_encoding">one-hot encoding</field>
            </block>
            <block type="label_encoding">
                <field type="label_encoding">Label Encoding</field>
            </block>
            <block type="remove_null_values">
                <field type="remove_null_values">remove null values</field>
            </block>
            <block type="handle_missing_data">
                <field type="handle_missing_data">handle missing data</field>
            </block>
            <block type="remove_duplicates">
                <field type="remove_duplicates">remove duplicates</field>
            </block>
            <block type="remove_outliers">
                <field type="remove_outliers">remove outliers</field>
            </block>

            <block type="data_split">
                <field type="data_split"> Data spliting</field>
            </block>
            <block type="input_output">
                <field type="input_output"> input output</field>
            </block>
        </category>
        <sep></sep>
           <category name=" Visualization"></category>
           <category name="Data Visualization" colour="#1FA6EF">
               <block type="scatter_plot">
                   <field type="scatter_plot">Scatter Plot</field>
               </block>
               <block type="histograms">
                   <field type="histograms">Histograms</field>
               </block>
               <block type="box_plots">
                   <field type="box_plots">Box Plots</field>
               </block>
               <block type="heatmaps">
                   <field type="heatmaps">Heatmaps</field>
               </block>
           </category>
           <category name="Model Visualization" colour="#1FA6EF">
               <block type="decision_boundary">
                   <field type="decision_boundary">Decision Boundary</field>
               </block>
               <block type="tree_visualization">
                   <field type="tree_visualization">Tree Visualization - DecisionTreeClassifier</field>
               </block>
               <block type="feature_importances">
                   <field type="feature_importances">Feature Importances - RandomForestClassifier</field>
               </block>
               <block type="learning_curves">
                   <field type="learning_curves">Learning Curves</field>
               </block>
           </category>
           <category name="Model Performance Visualization" colour="#1FA6EF">
               <block type="confusion_matrix">
                   <field type="confusion_matrix">Confusion Matrix</field>
               </block>
               <block type="ROC_curve">
                   <field type="ROC_curve">ROC Curve</field>
               </block>
           </category>
           <category name="Clustering and Dimensionality Reduction" colour="#1FA6EF">
               <block type="elbow_plot">
                   <field name="elbow_plot">Elbow Plot - KMeans</field>
               </block>
               <block type="tsne_plot">
                   <field name="tsne_plot">TSNE Plot</field>
               </block>
               <block type="pca_plot">
                   <field name="pca_plot">PCA Plot</field>
               </block>
           </category>
           <category name="Hyperparameter Tuning Visualization" colour="#1FA6EF">
               <block type="hyperparameter_heatmaps">
                   <field name="hyperparameter_heatmaps">Hyperparameter Heatmaps</field>
               </block>
           </category>
           <category name="Neural Network Visualization" colour="#1FA6EF">
               <block type="confusion_matrix_nn">
                   <field type="confusion_matrix_nn">Confusion Matrix</field>
               </block>
               <block type="ROC_curve_nn">
                   <field type="ROC_curve_nn">ROC Curve</field>
               </block>
               <block type="precision_recall_curve_nn">
                   <field type="precision_recall_curve_nn">precision-recall Curve</field>
               </block>
               <block type="loss_accuracy_curve">
                   <field type="loss_accuracy_curve">Loss and Accuracy Curves</field>
               </block>
           </category>
           <category name="Ensemble Methods Visualization" colour="#1FA6EF">
               <block type="ensemble_feature_importance">
                   <field type="ensemble_feature_importance">Feature Importance - GradientBoostingClassifier</field>
               </block>
               <block type="oob_error_plot">
                   <field type="oob_error_plot">Out-of-Bag Error - RandomForestClassifier</field>
               </block>
           </category>                
           <category name="Text Data Visualization" colour="#1FA6EF">
               <block type="word_cloud">
                   <field type="word_cloud">Word Cloud</field>
               </block>
           </category>
        </category>
        <sep></sep>
        <sep></sep>
        <sep></sep>
    </xml>
    <script>
        document.getElementById('uplaodButton').addEventListener('mouseenter', function() {
            let img = document.getElementById('uploadIcon');
            setTimeout(function() {
                img.src = '/static/media/upload-hover.png'; 
                img.style.opacity = 1;
            }, 100); // Duration matches the CSS transition duration
        });
        
        document.getElementById('uplaodButton').addEventListener('mouseleave', function() {
            let img = document.getElementById('uploadIcon');
            setTimeout(function() {
                img.src = '/static/media/upload-2.png'; // The original image source
                img.style.opacity = 0.6;
            }, 100); // Duration matches the CSS transition duration
        });
    </script>

<script>
    document.getElementById('downlaodButton').addEventListener('mouseenter', function() {
        let img = document.getElementById('downloadIcon');
        setTimeout(function() {
            img.src = '/static/media/download-hover.png'; 
            img.style.opacity = 1;
        }, 100); // Duration matches the CSS transition duration
    });
    
    document.getElementById('downlaodButton').addEventListener('mouseleave', function() {
        let img = document.getElementById('downloadIcon');
        setTimeout(function() {
            img.src = '/static/media/download2.png'; // The original image source
            img.style.opacity = 0.6;
        }, 100); // Duration matches the CSS transition duration
    });
</script>

<script>
    document.getElementById('copyButton').addEventListener('mouseenter', function() {
        let img = document.getElementById('copyIcon');
        setTimeout(function() {
            img.src = '/static/media/copy-hover.png'; 
            img.style.opacity = 1;
        }, 100); // Duration matches the CSS transition duration
    });
    
    document.getElementById('copyButton').addEventListener('mouseleave', function() {
        let img = document.getElementById('copyIcon');
        setTimeout(function() {
            img.src = '/static/media/copy-2.png'; // The original image source
            img.style.opacity = 0.6;
        }, 100); // Duration matches the CSS transition duration
    });
</script>


</body>
</html>